.Name{
 
    display: block;
    font-size: 75px;
}
.personalinfodiv{
    
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom:solid;
}
.phoneemail{
    font-size: 40px;
}
.eeinfodiv{
    
    display:box;
}
.schoolnamebox{
   
    display: flex;
}
.schoolname{
    display:inline-flex;
    font-size: 50px;
   
}
.date{
    margin-left: auto;
    font-size: 30px;
}
.title{
    display:box;
    font-size: 25px;
  
}
.EE{
    font-size:50px;
    display:flex;
    justify-content: center;
    border-bottom:solid;
}
.personalinfo{
    font-size:50px;
    display:flex;
    justify-content: center;
}