.Name{
 
    display: block;
    font-size: 75px;
    font-weight: bold;
}
.personalinfodiv{
    
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom:solid;
}
.phoneemail{
    font-size: 40px;
}
.eeinfodiv{
    
    display:box;
    
}
.schoolnamebox{
   
    display: flex;
}
.schoolname{
    display:inline-flex;
    font-size: 40px;
    padding-left: 10%;
    font-weight: bold;
    
}
.date{
    margin-left: auto;
    font-size: 30px;
    font-style: italic;
    padding-right: 10%;
}
.title{
    display:box;
    font-size: 25px;
    font-style: italic;
    padding-left: 10%;
}
.EE{
    font-size:50px;
    display:flex;
    justify-content: center;
    border-bottom:solid;
}
.personalinfo{
    font-size:50px;
    display:flex;
    justify-content: center;
}
.PE{
    font-size:50px;
    display:flex;
    justify-content: center;
    border-bottom:solid;
}
.companynamebox{
    font-size:50px;
    display:flex;
    justify-content: center;
    border-bottom:solid;
}
.positionbox{
    display:flex;
    font-style: italic;
    font-size: 30px;
    padding-left: 10%;
}
.Dates{
    margin-left: auto;
    font-size: 30px;
    padding-right: 10%;
}
.companyname{
    font-size:40px;
    padding-left: 10%;
    font-weight: bold;
}
.maintasks{
    font-size:30px;
    padding-left: 10%;
}